<h3>Faça seu login: </h3>
<div class="card">
    <div class="card-body">
        <form action="/users/login" method="post">
            <label for="email">Eamil: </label>
            <input type="email" name="email" class="form-control" placeholder="Seu e-mail" required>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" placeholder="Sua senha" required>
            <button type="submit" class="btn btn-success mt-4">Log in</button>
        </form>
    </div>
</div>